*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #014751; */
}
body
{
    background-color: #014751;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}
nav{
       font-size: 18px;
       background-color: #003b3b;
          
}

.navbar .navbar-brand {
    color:#AFF8C8;
    font-size: 28px;
    font-weight: bold;
}
.navbar .nav-link
{
    color:white ;
    padding-left: 15px;
    transition: all 0.3s ease-in-out;
}
.navbar .nav-link:hover
{
    text-decoration: underline;
    color: #AFF8C8;
}
/* Auth Button Container */
.navbar1 {
    margin-left: auto;
    display: flex;
    gap: 10px;
}
.navbar1 a{
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 16px;
}
#nav {
    width: 100%;
}
img{
    max-width: 100%;
    height: auto;
    border-radius: 10px
}

.one {
    padding: 60px 40px;
}

.one span {
    font-size: 48px;
    font-weight: 600;
}

.one p {
    font-size: 20px;
    width: 90%;
    margin-top: 10px;
    line-height: 1.5;
}
